<form novalidate angular-validator angular-validator-submit="vm.method.submit()" name="formName">
    <div class="modal-header">
        <button class="close" ng-click="vm.method.cancel()">×</button>
        <h4 class="modal-title">新建字段</h4>
    </div>
    <div class="modal-body">
        <div action="">
            <div class="form-group">
                <label for="dictType">字段分类</label>
                <input type="text" name="dictType" id="dictType" class="form-control" placeholder="" ng-model="vm.data.dictType" required >
                <div ng-show="formName.dictType.$invalid">
                    <p class="help-block" ng-show="formName.dictType.$error.required">
                        *必填项
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="dictKey">字段名</label>
                <input type="text" name="dictKey" id="dictKey" class="form-control" placeholder="" ng-model="vm.data.dictKey" required >
                <div ng-show="formName.dictKey.$invalid">
                    <p class="help-block" ng-show="formName.dictKey.$error.required">
                        *必填项
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="dictValue">字段值</label>
                <input type="text" name="dictValue" id="dictValue" class="form-control" placeholder="" ng-model="vm.data.dictValue" required>
                <div ng-show="formName.dictValue.$invalid">
                    <p class="help-block" ng-show="formName.dictValue.$error.required">
                        *必填项
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="description">字段描述</label>
                <input type="text" name="description" id="description" class="form-control" placeholder="" ng-model="vm.data.description">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="vm.method.cancel()">
            <span>取消</span>
        </a>

        <button class="btn btn-primary" type="submit" ng-disabled="formName.$invalid">
            <span>保存</span>
        </button>
    </div>
</form>