<form novalidate angular-validator angular-validator-submit="vm.method.submit()" name="formName">
    <div class="modal-header">
        <button class="close" ng-click="vm.method.cancel()">×</button>
        <h4 class="modal-title">保存为图表</h4>
    </div>
    <div class="modal-body">
        <div action="">
            <div class="form-group">
                <label for="">名称</label>
                <!-- <input type="text" class="form-control" placeholder="输入名称" ng-model="vm.data.name"> -->
                <input type="text" name="name" class="form-control" placeholder="输入名称" ng-model="vm.data.title" required validate-on="blur" required-message="'名称不能为空'" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="vm.method.cancel()">
            <!-- <span class="glyphicon glyphicon-ban-circle"></span> -->
            <span>取消</span>
        </a>

        <button class="btn btn-primary" type="submit">
                <!-- <span class="glyphicon glyphicon-save"></span> -->
                <span>保存</span>
            </button>
    </div>
</form>