
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlarmLevelLabel">创建/编辑 告警等级</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alarmLevel.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alarmLevel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">名称</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.alarmLevel.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    *必填项
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_color">颜色</label>
            <!-- <input type="text" class="form-control" name="color" id="field_color"
                    ng-model="vm.alarmLevel.color"
                    /> -->
            <spectrum-colorpicker ng-model="vm.alarmLevel.color" format="'hex3'" options="colorPicker1"></spectrum-colorpicker>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">描述</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.alarmLevel.description"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span>取消</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span>保存</span>
        </button>
    </div>
</form>
