<form>
    <div class="modal-header">
        <button class="close" ng-click="vm.method.cancel()">×</button>
        <h4 class="modal-title">恢复归档</h4>
    </div>
    <div class="modal-body">
        <div action="">
            <p>恢复归档日志，确认操作吗？</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.method.cancel()">
            <span>取消</span>
        </button>

        <button class="btn btn-primary"  ng-click="vm.method.submit(vm.id)">
            <span>确认</span>
        </button>
    </div>
</form>