 .toast-info{
 	background-color: #2dacd1 !important;
 }
 .toast-error{
 	background-color: #e85656 !important;
 }
 .toast-warning{
 	background-color: #dfb81c !important;
 }
 .toast-dearload{
 	background-color: #8b3333 !important;
 }