<form novalidate angular-validator angular-validator-submit="vm.method.submit()" name="formName">
    <div class="modal-header">
        <a class="close" ng-click="vm.method.cancel()">×</a>
        <h4 class="modal-title">修改仪表盘</h4>
    </div>
    <div class="modal-body">
        <div action="">
            <div class="form-group">
                <label for="">名称</label>
                <input type="text" name="name" class="form-control" placeholder="请填写仪表盘名称" ng-model="vm.data.name" required validate-on="blur" required-message="'名称不能为空'" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="">描述</label>
                <textarea type="text" name="name" class="form-control" placeholder="描述" ng-model="vm.data.description" required validate-on="blur" required-message="'描述不能为空'" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="vm.method.cancel()">
            <span>取消</span>
        </a>
        <button class="btn btn-primary" type="submit">
            <span>保存</span>
        </button>
    </div>
</form>