<form novalidate show-validation  name="form">
    <div class="modal-header">
        <button class="close" ng-click="vm.method.cancel()">×</button>
        <h4 class="modal-title">修改用户分组 </h4>
    </div>
    <div class="modal-body">
        <div action="">
            <div class="form-group">
                <label for="name">分组名</label>
                <input type="text" placeholder="输入分组名" ng-model="vm.data.name" name="name" id="name" required class="form-control">
                <div ng-show="form.name.$invalid">
                    <p class="help-block"
                       ng-show="form.name.$error.required">
                        *必填项
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="desc">描述</label>
                <textarea type="text" id="desc" name="desc"  ng-model="vm.data.description" placeholder="输入描述" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="users">成员</label>
                <ui-select class="form-control"
                           name="users" id="users"   ng-model="vm.data.member"
                           search-enabled="true"
                           append-to-body="true"
                           multiple
                           on-select="vm.select(scope)"
                           on-remove="vm.remove($event)"

                           remove-selected="vm.removeSelected"
                >
                    <ui-select-match placeholder="选择成员">
                        {{$item.login}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in vm.userList | filter: $select.search">
                        {{item.login}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label for="role">角色</label>
                <select  class="form-control"
                         name="roles" id="role"   ng-model="vm.data.roles"
                        >
                    <option value="{{item.name}}" ng-repeat="item in vm.roleList">{{item.name}}</option>
                </select>
                <!--<select class="form-control" title="角色"  selectpicker id="role" multiple name="role"-->
                        <!--ng-model="vm.data.roles"-->
                        <!--ng-options="item as item.name for item in vm.roleList">-->
                <!--</select>-->
                <!--<ui-select class="form-control"-->
                           <!--name="users" id="role"   ng-model="vm.data.roles"-->
                           <!--search-enabled="true"-->
                           <!--append-to-body="true"-->
                           <!--multiple-->
                <!--&gt;-->
                    <!--<ui-select-match placeholder="选择角色">-->
                        <!--{{$item.name}}-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices repeat="item in vm.roleList | filter: $select.search">-->
                        <!--{{item.name}}-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            </div>


            <!--<div class="form-group">-->
            <!--<label for="role">角色</label>-->
            <!--<select class="form-control" name="role"  ng-model="vm.data.role" id="role">-->
            <!--<option value="admin">admin</option>-->
            <!--<option value="test">test</option>-->
            <!--</select>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="vm.method.cancel()">
            <span>取消</span>
        </a>

        <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid" ng-click="vm.method.submit()">
            <span>保存</span>
        </button>
    </div>
</form>