<form>
    <div class="modal-header">
        <button class="close" ng-click="vm.method.cancel()">×</button>
        <h4 class="modal-title">删除分组</h4>
    </div>
    <div class="modal-body">
        <div action="">
            <p>确认删除资源分组吗？</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.method.cancel()">
            <span>取消</span>
        </button>

        <button class="btn btn-primary" ng-click="vm.method.submit()">
            <span>确认</span>
        </button>
    </div>
</form>