<div class="title-wrapper">
    <h3 class="m-n font-thin h3">
        修改密码
    </h3>
    <small class="text-muted h5 font-title-des">当前用户修改密码</small>
</div>
<div ba-panel ba-panel-class="profile-page">

    <div class="panel-content">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>[<b>{{vm.account.login}}</b>] 修改密码</h2>

                <div class="alert alert-success" ng-show="vm.success">
                    <strong>密码已修改!</strong>
                </div>
                <div class="alert alert-danger" ng-show="vm.error" >
                    <strong>有错误</strong> 无法更改密码
                </div>

                <div class="alert alert-danger" ng-show="vm.doNotMatch">
                    两次密码不匹配
                </div>

                <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>


                    <div class="form-group">
                        <label class="control-label" for="password">当前密码</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="请输入当前密码"
                               ng-model="vm.currentPassword"  required>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="password">新密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码"
                               ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                密码不能为空
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                密码必须至少为4个字符
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                密码不能超过50个字符
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">确认新密码</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="请再次输入新密码"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                确认密码不能为空
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                确认密码必须至少为4个字符
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                确认密码不能超过50个字符
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>
