<div class=" title-wrapper">
    <h3 class="m-n font-thin h3">用户管理</h3>
    <small class="text-muted h5 font-title-des">规范用户管理</small>
</div>
<div class="wrapper" >
    <div class="row">
      <div class="col-sm-12">

        <div class="panel widget">
            <div class="panel-heading">
              <button class="btn btn-primary" ui-sref="user-management.new"><i class="fa fa-plus"></i>&nbsp;新建</button>
              <full-size></full-size>
        </div>
        <div class="panel-body">
               <!--  <form class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1"><i class="ion-search"></i></span>
                    <input type="text" class="form-control" placeholder="输入查询条件进行过滤..." ng-model="search">
                   
                </form> -->
            <div class="table-responsive">
                 <form name="vm.searchForm" novalidate ng-submit="vm.applyGlobalSearch()">
                        <div class="input-group">
                        
                          <input type="text" class="form-control" placeholder="输入查询条件进行过滤..." name="searchTerm" ng-model="vm.globalSearchTerm" required />
                          <span class="input-group-btn">
                            <button class="btn btn-primary search-btn" type="submit" ng-disabled="vm.searchForm.$invalid">
                              <span class="ion-search"></span>
                          </button>
                          </span>
                        </div>
                    </form>
                <table  class="table" ng-table="vm.tableParams">
                    <!-- <thead class="black-muted-bg">
                        <tr>
                            <th>
                                <span>ID</span>
                            </th>
                            <th>
                                <span>Login</span>
                            </th>
                            <th>
                                <span>Email</span>
                            </th>
                            <th>
                                <span></span>
                            </th>
                            <th>
                                <span>Profiles</span>
                            </th>
                            <th>
                                <span>Created Date</span>
                            </th>
                            <th>
                                <span>Last Modified By</span>
                            </th>
                            
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody> -->
                        <tr ng-repeat="user in $data track by $index">
                          <!--   <td data-title="'ID'" sortable="'id'"><a ui-sref="agent-host-detail({id:agentHost.id})">{{user.id}}</a></td> -->
                            <td data-title="'用户名'" sortable="'login'">{{user.login}}</td>
                            <td data-title="'邮箱'" sortable="'email'">{{user.email}}</td>
                            <td data-title="'状态'"  >
                                <switcher ng-model="user.activated"
                                          true-value="true"
                                          false-value="false"
                                          class="styled"
                                          ng-disabled="vm.currentAccount.login === user.login"
                                          ng-change="vm.setActive(user, user.activated?false:true)"
                                >
                                </switcher>


                                <!--<button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated">Deactivated</button>-->
                                <!--<button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated" ng-disabled="vm.currentAccount.login === user.login">Activated</button>-->
                            </td>
                            <td data-title="'角色'">
                                <span ng-repeat="authority in user.authorities" class="icon-user-author">
                                    <em class="label label-info">{{ authority }}</em>
                                </span>
                            </td>
                            <td data-title="'创建时间'" sortable="'createdDate'">{{user.createdDate | date:'yyyy/MM/dd HH:mm'}}</td>
                            <td data-title="'修改时间'" sortable="'lastModifiedBy'">{{user.lastModifiedBy}}</td>
                            <td class="text-right" data-title="'操作'">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="user-management.edit({login:user.login})"
                                            class="btn-reset" title="编辑">
                                        编辑
                                    </button>
                                    <button type="submit"
                                            ui-sref="user-management.delete({login:user.login})"
                                            class="btn-reset text-delete" ng-disabled="vm.currentAccount.login === user.login" title="删除">
                                        删除
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="vm.tableParams.data.length==0&&!vm.dataload">
                            <td colspan="8" class="table-data-alert">数据为空！！！</td>
                        </tr>
                        <tr ng-if="vm.dataload">
                            <td colspan="8" class="table-data-alert">数据加载中...</td>
                        </tr>
                    <!-- </tbody> -->
                </table>
            </div>
    </div>
</div>

<!--         <div class="row">
            <div jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <div class="col-sm-3 " ng-repeat="user in vm.users track by user.id">
                         <div class="user-management-list" ng-class="{ 'active' : data.current == $index }" ng-click="tooltipShow($index)">
                         <div class="user-management-title" >{{user.login}}</div>
                       
                         </div>
                    <div class="host-tooltip" ng-if="data.current == $index" ng-show="vm.tooltipShow">
                           
                            <button type="button" class="btn btn-tooltip-close" ng-click="tooltipClose($index)">
                              <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            
                                <p><label jh-sort-by="id">ID:</label><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></p>
                                <p><label jh-sort-by="login">Login:</label>{{user.login}}</p>
                                <p><label jh-sort-by="email">Email: </label>{{user.email}}</p>

                                <p><label ></label> <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                                                   >Deactivated</button>
                                            <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                                                    ng-disabled="vm.currentAccount.login === user.login">Activated</button></p>
                                <p><label>Profiles:</label> 
                                    <span ng-repeat="authority in user.authorities" class="icon-user-author">
                                        <em class="label label-info">{{ authority }}</em>
                                    </span>
                                </p>
                                <p><label jh-sort-by="createdDate">Created Date:</label>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</p>
                                <p><label jh-sort-by="lastModifiedBy">Last Modified By:</label>{{user.lastModifiedBy}}</p>
                                <p><label>操作:</label><button type="submit"
                                                        ui-sref="user-management.edit({login:user.login})"
                                                        class="btn btn-primary btn-sm" title="编辑">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                                <button type="submit"
                                                        ui-sref="user-management.delete({login:user.login})"
                                                        class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login === user.login" title="删除">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                </p>
                            </div>
                    </div>
            </div>
            <div class="col-sm-3 btn-add-position">
                <button class="btn btn-add-host" ui-sref="user-management.new"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </div>
            
        </div> -->
    </div> 
</div>
